<div class="col s4 m4 l4 cardz">
    <div class="card modal-trigger" href="#modal">
        <div class="center-align" style="max-height: 200px; overflow: hidden">
            <img src={{img}} alt="poster or cover">
        </div>
        <div class="card-content">
            <div class="header center-align" style="font-size: 1.5rem">{{headline}}</div>
            <div class="meta center-align">Review of {{productName}} by {{User.name}}</div>
            <div class="description center-align">{{score}} stars</div>
            <div class="extra-content center-align">
                <span style="font-size: 0.8rem">Created on {{createdAt}}</span>
            </div>
            <p hidden>{{review}}</p>

        </div>
    </div>
</div>