<div class="container">
    {{> header}}
    <h2>Cards</h2>
    <div class="row">
        <div class="col s12 16">
            <div class="card">
                {{#each data}}
                <div class="card-image">
                    <img src={{img}} alt="poster or cover">
                </div>
                <div class="card-content">
                    <div class="header">{{headline}}</div>
                    <div class="meta">Review of {{productName}} by {{User.name}}</div>
                    <div class="description">{{score}}</div>
                    <div class="extra-content">
                        <span class="right-floated">Created on {{createdAt}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/books.js"></script>