<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">Dashboard</h1>
    </div>
    <div class="row">
        <h3 class="col s12 center-align">What would you like to do, {{user.name}}?</h3>
    </div>
    <div class="row">
        <a href="/form" class="waves-effect waves-light btn col s12">Add a Review</a>
    </div>
    <div class="row">
        <a href="/logout" class="waves-effect waves-light btn col s12" style="background:darkred">Logout</a>
    </div>

    {{!-- populate a table with options to edit and delete reviews --}}
    <table class="highlight z-depth-2">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Headline</th>
                <th>Review</th>
                <th>Score</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>
                <td>{{productName}}</td>
                <td>{{category}}</td>
                <td>{{headline}}</td>
                <td>{{review}}</td>
                <td>{{score}}</td>
                <td><a href="#modal" class="waves-effect waves-light btn edit modal-trigger" style="background:green"
                        value={{id}}>Edit</a>
                </td>
                <td><a class="waves-effect waves-light btn delo" style="background:darkred" value={{id}}>Delete</a>
                </td>
                <td hidden>{{img}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id="modal-header" class="center-align">Edit Your Review</h4>
            <label for="productName">Product Name:</label><input required type="text" id="productName"
                class="validate" />
            <label for="headline">Headline:</label><input required type="text" id="headline" class="validate" />
            <label for="img">Image URL:</label><input required type="text" id="img" class="validate" />
            <p><label>Score:</label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="1">
                    <span for="group1" data-value="1">1</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="2">
                    <span for="group1" data-value="2">2</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="3">
                    <span for="group1" data-value="3">3</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="4">
                    <span for="group1" data-value="4">4</span>
                </label>
                <label>
                    <input class="with-gap" name="group1" type="radio" data-value="5">
                    <span for="group1" data-value="5">5</span>
                </label>
            </p>
            <label for="review">Review:</label><textarea required name="review" id="review"
                class="materialize-textarea validate"></textarea>
            <p hidden id="hiddenID"></p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light btn putrequest">Submit Changes</a>
            <a href="#!" class="modal-close waves-effect waves-light btn" style="background:maroon">Cancel</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".modal").modal();

        $(document).on("click", ".delo", function () {
            $.ajax("/api/reviews", {
                type: "DELETE",
                data: { id: $(this).attr("value") }
            }).done(function () {
                location.reload();
            }
            )
        })

        $(document).on("click", ".edit", function () {
            console.log($(this).parent("td").siblings("td"[1]).text());
            $("#productName").val($(this).parent("td").siblings("td").eq(0).text());
            $("#headline").val($(this).parent("td").siblings("td").eq(2).text());
            $("#img").val($(this).parent("td").siblings("td").eq(6).text());
            $(`.with-gap[data-value=${$(this).parent("td").siblings("td").eq(4).text()}]`).prop("checked", true);
            $("#review").val($(this).parent("td").siblings("td").eq(3).text());
            $("#hiddenID").text($(this).attr("value"));
        });

        $(document).on("click", ".putrequest", function () {
            $.ajax("/api/reviews", {
                type: "PUT",
                data: {
                    productName: $("#productName").val().trim(),
                    headline: $("#headline").val().trim(),
                    img: $("#img").val().trim(),
                    score: parseInt($("[name = group1]:checked").attr("data-value")),
                    review: $("#review").val().trim(),
                    id: $("#hiddenID").text()
                }
            }).then((resp) => location.reload())
        })
    })

</script>