<div class="container-fluid">
    {{> header}}
    <div class="ui link cards">
        {{#each data}}
        <div class="card modal-trigger" href="#modal">
            <div class="image">
                <img src={{img}} alt="poster or cover">
            </div>
            <div class="content">
                <div class="header">{{headline}}</div>
                <div class="meta">Review of {{productName}} by {{User.name}}</div>
                <div class="description">{{score}}</div>
            </div>
            <div class="extra-content">
                <span class="right-floated">Created on {{createdAt}}</span>
            </div>
            <p hidden>{{review}}</p>
        </div>
        {{/each}}
    </div>

    {{> cardmodal}}
</div>

<script src="/js/cardmodal.js"></script>